<section>
    <div class="flex">
        <div class="first">
            <div class="photo"><img src="{{photo}}" alt="profile"></div>
            <div class="biography">
                <h1>{{title}}</h1>
                <p>{{description}}</p>
            </div>
        </div>
        <div class="second">
            <div class="buttons">
                <div class="btn contactForm" (click)="openContactForm()" [ngClass]="{'notDisplay': this.loginService.isLogin}">Contactar con Pablo</div>
                <div class="btn editBiography" (click)="openEditBiography()" [ngClass]="{'notDisplay': !this.loginService.isLogin}">Editar biografía</div>
                <div class="btn newsletter" (click)="openNewsletter()" [ngClass]="{'notDisplay': this.loginService.isLogin}">Alerta de novedades</div>
                <div class="btn editVideos" (click)="openEditVideos()" [ngClass]="{'notDisplay': !this.loginService.isLogin}">Editar vídeos</div>
                <div class="btn editVideos" (click)="loginService.logOut()" [ngClass]="{'notDisplay': !this.loginService.isLogin}">Log Out</div>

            </div>
            <div class="videos">
                <div class="v1">
                    <video  playsinline="true"  [loop]="true" preload="auto" controls><source src="assets/videoIdx.mp4" type="video/mp4">Sorry, your browser doesn't support embedded videos.</video>
                </div>
                <div class="v2">
                    <video playsinline="true"  [loop]="true" preload="auto" controls><source src="assets/videoIdx.mp4" type="video/mp4">Sorry, your browser doesn't support embedded videos.</video>
                </div>
            </div>
        </div>
    </div>
</section>