<section>
    <div class="flex">
        <div class="first">
            <div class="photo"><img src="assets/Pablico.jpeg" alt="profile"></div>
            <div class="biography">
                <h1>Compositor musical</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique perspiciatis illo,
                    suscipit dolore pariatur provident at nulla doloremque aspernatur commodi accusantium
                    et neque unde modi iste cupiditate ea, labore totam. Sint aliquid animi numquam sunt
                    necessitatibus ab similique sit maxime accusamus? Reprehenderit numquam amet dolor
                    magni illo am sunt necessitatibus ab similique sit maxime accusamus? Reprehenderit
                    numquam am sunt necessitatibus ab similique sit maxime accusamus? Reprehenderit
                    numquam rehenderit numquam am sunt necessitatibus ab similique sit maxime accusamus?
                    numquam rehenderit numquam am sunt necessitatibus ab similique sit maxime accusamus?
                    numquam rehenderit numquam am sunt necessitatibus ab similique sit maxime accusamus?
                    numquam rehenderit numquam am sunt necessitatibus
                </p>
            </div>
        </div>
        <div class="second">
            <div class="buttons">
                <div class="btn contactForm">Contactar con Pablo</div>
                <div class="btn newsletter">Alerta de novedades</div>
            </div>
            <div class="videos">
                <div class="v1">
                    <video  playsinline="true"  [loop]="true" preload="auto" controls><source src="assets/videoIdx.mp4" type="video/mp4">Sorry, your browser doesn't support embedded videos.</video>
                </div>
                <div class="v2">
                    <video playsinline="true"  [loop]="true" preload="auto" controls><source src="assets/videoIdx.mp4" type="video/mp4">Sorry, your browser doesn't support embedded videos.</video>
                </div>
            </div>
        </div>
    </div>
</section>