<header>
    <div class="spaceLeft">
        <div class="index"><img src="../assets/logo.svg" alt="logo"></div>
    </div>
    <div class="nav">
        <nav class="left">
            <a routerLink="" #scores class="element e1">Obras</a>
            <a routerLink="" #scoresR class="select s1"></a>
            <a routerLink="" #experiencies class="element e2">Experiencias</a>
            <a routerLink="" #experienciesR class="select s2"></a>
        </nav>
        <nav class="right">
            <a routerLink="" #contact class="element e3">Pablo Méndez</a>
            <a routerLink="" #contactR class="select s3"></a>
        </nav>
    </div>
</header>