//-----Global desing component-----
//----------//----------//----------//----------//----------
form {
    display: flex;
    background-color: var(--white);
    width: min(1190px, 100%);
    height: 560px;
    overflow: hidden;
    & > .left {
        min-width: fit-content;
        & div {
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--black);
            height: 100%;
            width: fit-content;
            filter: grayscale(100%);
            overflow: hidden;
            & > img {
                height: 100%;
        }}
        & > input {
            display: none;
    }}
    & > .right {
        overflow: auto;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 30px 20px 20px 30px;
        & > .title {
            font-size: var(--font-size-normal);
            margin-bottom: 25px;
            & > input {
                border: 1px solid var(--black);
                border-radius: var(--radius-smaller);
                outline: none;
                font-size: var(--font-size-smaller);
                width: 400px;
                padding: 0 10px;
                height: 32px;
        }}
        & > .description {
            display: flex;
            flex-direction: column;
            font-size: var(--font-size-smaller);
            overflow: auto;
            height: 400px;
            & > label {
                margin-bottom: 10px;
            }
            & > textarea {
                resize: none;
                width: 100%;
                height: 300px;
                padding: 5px 10px;
                border: 1px solid var(--black);
                font-size: var(--font-size-smaller);
                border-radius: var(--radius-smaller);
            }
        }
        & > .propierties {
            display: flex;
            position: relative;
            width: 100%;
            height: 35px;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            & > div {
                margin: 0 10px 0 0;
                & label {
                    font-size: var(--font-size-small);
                }
                & > input {
                    border: 1px solid var(--black);
                    border-radius: var(--radius-smaller);
                    outline: none;
                    font-size: var(--font-size-smaller);
                    padding: 0 10px;
                    height: 32px;
            }}
            & > .category {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: var(--font-size-smaller);
                font-weight: var(--font-width-bold);
                & > label {
                }
                & > input {
                    width: 200px;
            }}
            & > .price {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: var(--font-size-smaller);
                font-weight: var(--font-width-bold);
                & > label {
                    font-size: var(--font-size-small);
                    width: max-content;
                }
                & > input {
                    width: 80px;
            }}
            & > .pdf {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: var(--font-size-smaller);
                font-weight: var(--font-width-bold);
                & > label {
                    font-size: var(--font-size-small);
                    width: max-content;
                }
                & > input {
                    width: 80px
        }}}
        & > .buttons {
            display: flex;
            min-height: 35px;
            width: 100%;
            align-items: center;
            justify-content: flex-end;
            & > .cancelBtn {
                margin-right: 20px;
}}}}
//----------//----------//----------//----------//----------
