<section (click)="hideSelectedCard()">
    <div class="isNeeded"></div>
    <article class="overBar">
        <div class="design"></div> <!-- Not best solution -->
        <form class="search">
            <input class="searchLine" placeholder="Buscar una obra">
            <select class="filter">
                <option selected value="all">Todas</option>
                <ng-container *ngFor="let category of categories">
                    <option value="{{category}}">{{category}}</option>
                </ng-container>
            </select>
            <button class="button" (click)="createCategories()"><img src="/assets/searchIcon.svg" alt="search"></button>
        </form>
        <button class="cart" [ngClass]="{'notDisplay': this.loginService.isLogin}" (click)="openCart()">Carrito (<span>{{countItems}}</span>)</button>
        <button class="newScore" [ngClass]="{'notDisplay': !this.loginService.isLogin}" (click)="addNewScore()">Añadir</button>
    </article>
    <article class="page">
        <ng-container *ngIf="!cart; else cartTemplate">
            <ng-container *ngFor="let card of cards; let i = index">
                <div class="card" (click)="selectCard(i)" [ngClass]="{'card2': i === selected - 1}"
                    [ngClass]="{'notDisplay': (selected !== 0) && (i !== selected - 1)}">
                    <div class="left">
                        <img src="{{card.img}}" alt="score">
                    </div>
                    <div class="right">
                        <div class="title">{{card.title}}</div>
                        <div class="description">{{card.description}}</div>
                        <div class="propierties">
                            <div class="left">
                                <div class="pages"><img src="/assets/partiture.svg" alt="scores"><span>{{card.pagesNumber}}</span></div>
                                <div class="category"><img src="/assets/folderIcon.svg" alt="carpet">{{card.categories}}</div>
                            </div>
                            <div class="price">{{card.price}} €</div>
                        </div>
                        <div class="buttons">
                            <button class="cancelBtn" (click)="backForward()">Atrás</button>
                            <button class="nextBtn" [ngClass]="{'notDisplay': this.loginService.isLogin}" (click)="addToCart(card)">Comprar</button>
                            <button class="nextBtn" [ngClass]="{'notDisplay': !this.loginService.isLogin}" (click)="toEdit(card, i)">Editar</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #cartTemplate><app-cart></app-cart></ng-template>
    </article>
    <div class="footer">
    </div>
</section>