<form #contactForm="ngForm" (ngSubmit)="(contactForm.invalid) ? null : onSubmit(contactForm)" [ngClass]="{'onSubmit': nextBtn.disabled === true}">
    <div class="name">
        <label for="Name">Nombre:</label>
        <input type="text" id="name"
        [(ngModel)]="contact.name"
        name="name"
        #name="ngModel"
        [ngClass]="{'inputError':contactForm.submitted && name.invalid}"
        required>
        <p class="notDisplay" [class]="{'textError': contactForm.submitted && name.invalid}">*</p>
    </div>
    <div class="mail">
        <label for="mail">Correo:</label>
        <input type="email" id="mail"
        name="email"
        [(ngModel)]="contact.email"
        #email="ngModel"
        [ngClass]="{'inputError':contactForm.submitted && email.invalid}"
        email
        required>
        <p class="notDisplay" [class]="{'textError': contactForm.submitted && email.invalid}">*</p>
    </div>
    <div class="message">
        <div>
            <label for="message">Mensaje:</label>
            <p class="notDisplay" [class]="{'textError': contactForm.submitted && message.invalid}">*</p>
        </div>
        <textarea type="text" id="message"
        name="message"
        [(ngModel)]="contact.message"
        #message="ngModel"
        [ngClass]="{'inputError':contactForm.submitted && message.invalid}"
        required>
    </textarea>
    </div>
    <div class="bar">
        <div class="checkbox">
            <input type="checkbox" id="checkbox"
            name="subscribe"
            [(ngModel)]="contact.subscribe"
            #subscribe="ngModel"
            [ngClass]="{'inputError':contactForm.submitted && subscribe.invalid}"
            >
            <label for="checkbox">Subscríbete a mi Newsletter</label>
        </div>
        <div class="buttons">
            <p class="notDisplay" [class]="{'textError': contactForm.submitted && (email.invalid || message.invalid || name.invalid)}">Comprueba los campos marcados por (*)</p>
            <div class="btn">
                <p class="cancelBtn" mat-dialog-close>Cancelar</p>
                <button class="nextBtn" #nextBtn>Enviar</button>
            </div>
        </div>
    </div>
</form>
