.gridDiv{
    display:grid;
    // row-gap: 20px;
    // gap:1em;
   
    grid-template-rows: auto;
    gap:1em; 
}
.blog {
    background-color: #b7bfc5;
    padding: 50px;
    
}

.blog:hover{
    border:black solid 2px;
}

.invalidForm{
    border: red solid 2px;
}

.imageMini{
    height:150px;
    width: 150px;
}