
<h1>Formulario</h1>
<!-- <form class="formulario" action="/blogs" method="POST" enctype="multipart/form-data">
    <input type="text" name="titulo" placeholder="Introduce titulo">
    <input type="text" name="categoria" placeholder="Introduce categoria">
    <input type="text" name="texto" placeholder="Introduce texto">
    <input type="file" name="image">
    <input type="text" name="descripcionFoto" placeholder="Descripción foto">
    <button type="submit" > Enviar</button>
</form> -->


<form #Form="ngForm"  (ngSubmit)="(Form.invalid) ? 'mal' : onSubmit(Form)">
        
    <div>
        Título
        <input type="text" autocomplete="off"
            placeholder="Introduce título"
            id="titulo" name="titulo" [(ngModel)]="blog.titulo" #titulo="ngModel" 
            [ngClass]="{'invalidForm':Form.submitted && titulo.invalid }" required>
    </div>

    <div>
        Categoría
        <input type="text" autocomplete="off"
            placeholder="Introduce categoría"           
            name="categoria" [(ngModel)]="blog.categoria" #categoria="ngModel" 
            [ngClass]="{'invalidForm':Form.submitted && categoria.invalid }" required>
    </div>

    <div>
        Texto
        <input type="text" autocomplete="off"
            placeholder="Introduce texto"           
            name="texto" [(ngModel)]="blog.texto" #texto="ngModel" 
            [ngClass]="{'invalidForm':Form.submitted && texto.invalid }" required>
    </div>

    <div>
        Foto
        <input type="file" autocomplete="off"
            placeholder="Introduce foto"           
            name="nombreFoto" [(ngModel)]="blog.nombreFoto" #nombreFoto="ngModel" 
            [ngClass]="{'invalidForm':Form.submitted && nombreFoto.invalid }" required>
    </div>

    <div>
        descripcionFoto
        <input type="text" autocomplete="off"
            placeholder="Introduce texto"           
            name="descripcionFoto" [(ngModel)]="blog.descripcionFoto" #descripcionFoto="ngModel" 
            [ngClass]="{'invalidForm':Form.submitted && descripcionFoto.invalid }" required>
    </div>

    <div>
        <button type="submit" >enviar post</button>
    </div>

</form>

<h1>BLOGS</h1>
<div class="gridDiv">
    <div *ngFor= "let item of blogs">{{item.titulo}}</div>
    <div *ngFor= "let item of blogs">{{item.categoria}}</div>
    <div *ngFor= "let item of blogs">{{item.texto}}
        <label [innerHTML]="item.texto"> {{item.texto}}</label> </div>

</div>