<section>
    <form>
        <h2>Pablo Méndez</h2>
        <label class="lbl" for="usr">Usuario</label>
        <input id="usr" type="email" placeholder="example@example.com">
        <label class="lbl" for="passwd">Contraseña</label>
        <input id="passwd" type="password" placeholder="############">
        <div class="checkbox">
            <input id="check" type="checkbox">
            <label class="lbl2" for="check">Recordar credenciales</label>
        </div>
        <button class="send">Ingresa</button>
    </form>
</section>