<!-- NOTA: Jesús las variables creadas en el ts son para que los inputs tengan la información metida
de primeras. Los inputs no se muestran vacíos sino la información que hay se mete como value -->
<form #editbioForm="ngForm" (ngSubmit)="(editbioForm.invalid) ? 'mal' : onSubmit(editbioForm.value)">
    <div class="top">
        <div class="img">
            <label for="img">
                <img src="{{bio.photo}}" alt="new">
                <p>
                    Cambiar foto
                </p>
                <ng-container *ngIf="error">
                    {{error}}
                </ng-container>
            </label>
            <input type="file"
             id="img"
            name="image" 
            (change)="uploadPhoto($event)"
             >
        </div>
        <div class="right">
            <div class="txt">
                <label for="txt">Título:</label>
                <input type="text" 
                id="txt" 
                name="title" 
                value="{{bio.title}}"
                [(ngModel)]="bio.title"
                #title="ngModel"
                >
                
            </div>
            <div class="description">
                <label for="description">Descripción:</label>
                <textarea type="text"
                 id="description"
                 name="description" 
                 value="{{bio.description}}"
                 [(ngModel)]="bio.description"
                 #description="ngModel"
                 >
                </textarea>
            </div>
        </div>
    </div>
    <div class="buttons">
        <p class="cancelBtn" mat-dialog-close>Cancelar</p>
        <button class="nextBtn" >Guardar</button>
    </div>
</form>