
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pablo-primary: mat-palette($mat-indigo);
$pablo-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pablo-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pablo-theme: mat-light-theme((
  color: (
    primary: $pablo-primary,
    accent: $pablo-accent,
    warn: $pablo-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($pablo-theme);

//----- Fonts -----
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

//----- Own variables, that comunicate with Global model for use on ts files -----

// Colors
:root{
  --black: #000;
  --dark-blur: rgba( 0, 0, 0, .3);
  --white: #FFF;
  --grey: #707070;
  --grey2: #d0d0d0;
  --red: #EF0505;
  
//----------//----------//----------//----------//----------
  
// Font sizes
  
  --font-size-bigger: 32px;
  --font-size-big: 28px;
  --font-size-normal: 24px;
  --font-size-small: 22px;
  --font-size-smaller: 18px;
  --font-size-micro: 14px;
  
//----------//----------//----------//----------//----------
  
// Font styles
  
  --font-width-light: 200;
  --font-width-normal: 300;
  --font-width-semiBold: 500;
  --font-width-bold: 700;

//----------//----------//----------//----------//----------

// Border radius

  --radius-small: 7px;
  --radius-smaller: 3px;

}
//----------//----------//----------//----------//----------

/* You can add global styles to this file, and also import other style files */
//----------//----------//----------//----------//----------

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: 'Nunito-Sans', sans-serif;
  font-weight: var(--font-width-normal);
  font-size: var(--font-size-small);
}
.notDisplay {
  display: none !important;
}
.cancelBtn, .nextBtn {
  background-color: var(--white);
  border-radius: var(--radius-smaller);
  font-size: var(--font-size-smaller);
  height: 32px;
  width: 150px;
  cursor: pointer;
}
.cancelBtn {
  border: 1px solid var(--black);
  color: var(--black);
}
.nextBtn {
  border: 1px solid var(--red);
  color: var(--red);
}
input[type='checkbox'] {
  width: 12px;
  height: 12px;
  border: 1px solid var(--black);
  &:checked {
    background-color: var(--grey);
}}
input[type='checkbox'] + label {
  margin-left: 5px;
}

//----------//----------//----------//----------//----------

// ----- Edit Angular styles -----
//----------//----------//----------//----------//----------

.cdk-overlay-container 
{
  z-index: 10000000000000000000000000000000000000000000000000000;
}
.cdk-overlay-dark-backdrop {
  background: var(--dark-blur);
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.mat-dialog-container {
  border: 1px solid var(--black);
  border-radius: var(--radius-small) !important;
}

//----------//----------//----------//----------//----------